@model IssueManager.Web.ApplicationService.ViewModels.Home.LoginViewModel

@{
    ViewBag.Title = "ログイン";
}

@section styles{
    <style>
        .jumbotron-login {
            margin-top: 100px;
        }
    </style>
}

<div class="jumbotron jumbotron-login">
    <h1 class="display-3">Welcome!</h1>
    <hr class="my-4" />
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserId)
            @Html.EditorFor(m => m.UserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button class="btn btn-primary btn-lg">ログイン</button>
    }
</div>

