@model IssueManagementSystem.ApplicationService.Web.ViewModels.User.UserEditViewModel

@{
    ViewBag.Title = "ユーザー編集";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryAlert()

    @Html.Partial("_UserPartial", Model)

    <button class="btn btn-primary">修正</button>
    <button class="btn btn-danger" formaction="/Issue/Delete/@Model.UserId">削除</button>
    @Html.ActionLink("戻る", "Index", "User", new { @class = "btn btn-outline-secondary" })
}

@section scripts
{
    <script>
        $('#UserId').attr('readonly', true);
    </script>
}
